html{
    background-color: #424242;
}

.encabezado{
    background-color: #212121;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    align-items: center;
    justify-content: center;
}

.pelicula{
    background-color: #212121;
    border: 1px solid white;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    color: white;
    max-width: 40%;
}

.cuadricula {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.desc{
    text-align: justify;
}

h3{
    color: #26A69A;;
}

b{
    color: #26A69A;;
}

img{
    height: 250px;
    width: 300px;
}

div{
    background-color: #212121;
    color: white;
    text-align: center;
    align-items: center;
    justify-content: center;
}

button{
    font-size: larger;
    background-color: #26A69A;
    color: white;
    padding: 6px;
}