html {
    background-color: #2a2d2e;
}

div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    color: white;
}

img{
    width: 200%;
    height: 200%;
    margin-top: 20px;
}

p{
    color: white;
    font-style: oblique;
}

button{
    margin-top: 20px;
    background-color: #6e5d49;
    padding: 5px 15px;
    font-style: italic;
    font-weight: bold;
    font-size: large;
    border-radius: 5px;
}

